/* RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

img{
    max-width: 100%;
}

/* FINE RESET */


/* COMMON */

.container{
    width: 80%;
    max-width: 1000px;
    margin: 0 auto;
}

.flex{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.column{
    /* debug
    border: 1px solid black; */
    width:calc(100% / 3 - (5px * 3));
    position: relative;
    margin: 5px;

}

h5{
    color: red;
}

.through{
    text-decoration: line-through;
    color: black;
    margin-left: 5px;
}

.tg{
 display: flex;
}

ul{
    list-style: none;
}

.discount{
    position: absolute;
    bottom: 20%;
    left: 0;
    background-color: red;
    color: white;
    padding: 5px;
}

.sostenibile{
    position: absolute;
    bottom: 20%;
    left: 20%;
    background-color: green;
    color: white;
    padding: 5px;
}

.sostenibile-1{
    position: absolute;
    bottom: 20%;
    left: 0%;
    background-color: green;
    color: white;
    padding: 5px;
}

.heart{
    position: absolute;
    top: 5%;
    right: 0%;
    background-color: white;
    color: black;
    padding: 5px;
    font-size: xx-large;
    display: block;
}

.heart:hover{
    color: red;
}


.discount-30{
    position: absolute;
    bottom: 20%;
    left: 0;
    background-color: red;
    color: white;
    padding: 5px;
}

.img-2 {
    position: absolute;
    left: 0;
}

.column:hover .img-2 {
    display: none;
}

/* FINE COMMON */





